<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <title>@ViewBag.Title</title>

    <link href="~/Content/webapp/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/Content/webapp/images/icons/iphone.jpg" rel="apple-touch-icon">
    <link href="~/Content/webapp/images/icons/ipad.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Content/webapp/images/icons/iphone4.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Content/webapp/images/icons/ipad3.jpg" rel="apple-touch-icon" sizes="144x144">

    @Styles.Render("~/Bundles/css")   
    @*@Styles.Render("~/Bundles/jqueryui")*@

    

    <!--[if lt IE 9]>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/html5shiv.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/respond.min.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/excanvas.js"></script>
    <![endif]-->
    
    <script src="~/Scripts/webapp/jquery.min.js"></script> 
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>

   
</head>
<body>

    <!-- Body content -->
    <section class="vbox">

        @Html.Partial("_Header")


        <section>
            <section class="hbox stretch">

                <section id="content">
                    
                    <section class="hbox stretch" id="searchResults">

                        <aside class="aside-xl bg-light dk hidden-print">
                            <section class="vbox">

                                <section class="scrollable wrapper animated fadeInLeft">

                                    <div class="panel b-a">

                                        <div class="panel-body">


                                            <div class="row margin-bottom-20 no-margin-mobile">

                                                <div class="panel-group margin-bottom-10" id="accordion">
                                                    <div class="item pos-rlt">
                                                        <a class="item-overlay active wrapper-md font-xs" href="~/Home">
                                                            <div class="panel-body no-left-padding left">
                                                                <span class="h3 font-thin">The AIB<br />Brand Values<br />Competition</span>
                                                            </div>
                                                        </a>
                                                        <a href="~/Home">
                                                            <img class="img-full" src="~/images/box-compass.png" alt="Values Competition Logo">
                                                        </a>
                                                    </div>

                                                    @*@Ajax.ActionLink(
                                                 "HowItWorks",
                                        "HowItWorks",
                                        "Home",
                                                 new AjaxOptions { UpdateTargetId = "result" }
                                    )*@

                                                    <div class="hidden-desktop">
                                                        @using (Ajax.BeginForm("CategoryChosen", "Home", FormMethod.Get, new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace }, new { id = "menuForm" }))
                                                        {
                                                            @Html.DropDownList("Menu", null, new
                                    {
                                        @class = "form-control",
                                        @onchange = "$('#menuForm').submit()"
                                    })
                                                        }



                                                        <div class="btn-group btn-group-justified">
                                                            <a class="btn btn-default" href="~/Home/Play/53d8dbd646f3c621509d37cb">
                                                                <i class="fa icon-control-play text">
                                                                </i>
                                                                <span class="text">Play Brand Values Video</span>
                                                            </a>

                                                            <a class="btn btn-default" href="~/Home/upload">
                                                                <i class="fa icon-cloud-upload text">
                                                                </i>
                                                                <span class="text">Upload Your Entry</span>
                                                            </a>

                                                        </div>
                                                    </div>

                                                    <div class="hidden-xs">
                                                        <div class="panel panel-default no-top-margin no-border-radius no-border">
                                                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/HowItWorks">
                                                                <div class="panel-heading menu-panel">

                                                                    <span class="accordion-icon"><i class="fa icon-info time-icon bg-primary"></i></span>
                                                                    <span class="timeline-date white">How the competition works</span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="panel panel-default no-top-margin no-border-radius no-border">
                                                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/Prizes">
                                                                <div class="panel-heading menu-panel">
                                                                    <span class="accordion-icon"><i class="fa icon-star time-icon bg-primary"></i></span>
                                                                    <span class="timeline-date white">What prizes are up for grabs?</span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="panel panel-default no-top-margin no-border-radius no-border">
                                                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/BrandValues">
                                                                <div class="panel-heading menu-panel">
                                                                    <span class="accordion-icon"><i class="fa icon-map time-icon bg-primary"></i></span>
                                                                    <span class="timeline-date white">A reminder of the AIB brand values </span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="panel panel-default no-top-margin no-border-radius no-border">
                                                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/WinningEntry">
                                                                <div class="panel-heading menu-panel">
                                                                    <span class="accordion-icon"><i class="fa icon-eye time-icon bg-primary"></i></span>
                                                                    <span class="timeline-date white">What does a winning entry look like?</span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="panel panel-default no-top-margin no-border-radius no-border">
                                                            <a data-ajax="true" data-ajax-loading="#mainLoading" data-ajax-mode="replace" data-ajax-update="#result" href="~/Home/faqs">
                                                                <div class="panel-heading menu-panel">
                                                                    <span class="accordion-icon"><i class="fa icon-question time-icon bg-primary"></i></span>
                                                                    <span class="timeline-date white">All your questions answered… </span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="panel margin-top-20 panel-default no-border-radius no-border">
                                                            <a href="~/Home/Play/53d8dbd646f3c621509d37cb">
                                                                <div class="panel-heading menu-panel menu-panel-orange">
                                                                    <span class="accordion-icon"><i class="fa icon-control-play time-icon bg-warning"></i></span>
                                                                    <span class="timeline-date white">Watch our new brand film</span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="panel panel-default no-top-margin no-border-radius no-border">
                                                            <a href="~/Home/upload">
                                                                <div class="panel-heading menu-panel menu-panel-orange">
                                                                    <span class="accordion-icon"><i class="fa icon-cloud-upload time-icon bg-warning"></i></span>
                                                                    <span class="timeline-date white">Click here to enter</span>
                                                                    <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                                                </div>
                                                            </a>
                                                        </div>

                                                        <script>
                                                            $("a").click(function () {
                                                                $("a").find("div").removeClass("menuhover");
                                                                $(this).find("div").toggleClass("menuhover");
                                                            });
                                                        </script>

                                                    </div>
                                                    @*<div class="panel panel-default no-top-margin no-border-radius no-border">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <div class="panel-heading menu-panel">

                                                <span class="accordion-icon"><i class="fa icon-calendar time-icon bg-primary"></i></span>
                                                <span class="timeline-date white">Competition Calendar</span>
                                                <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                                            </div>
                                        </a>
                                    </div>*@
                                                </div>


                                                @*<div class="timeline" id="infoAccordion">

                                    <section id="collapseThree" class="panel-collapse collapse top-padding-10" style="height: auto;">

                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <span class="arrow left"></span>
                                                        <span class="timeline-icon"><i class="fa icon-emoticon-smile time-icon bg-purple"></i></span>
                                                        <span class="timeline-date">27th August</span>
                                                        <div class="text-sm">Competition starts</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <span class="arrow left"></span>
                                                        <span class="timeline-icon"><i class="fa icon-lock time-icon bg-success"></i></span>
                                                        <span class="timeline-date">8th October</span>
                                                        <div class="text-sm">Competition closes & shortlisting begins</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <span class="arrow left"></span>
                                                        <span class="timeline-icon"><i class="fa icon-like time-icon bg-warning"></i></span>
                                                        <span class="timeline-date">14th October</span>
                                                        <div class="text-sm">Vote for your favourite</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <span class="arrow left"></span>
                                                        <span class="timeline-icon"><i class="fa icon-star time-icon bg-danger"></i></span>
                                                        <span class="timeline-date">27th October</span>
                                                        <div class="text-sm">Winners announced</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </section>




                                </div>*@



                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <footer class="footer hidden-xs footer-md bg-white"></footer>
                            </section>
                        </aside>

                        @RenderBody()
                    </section>

                        
                </section>
            </section>
        </section>

    </section>
                <!-- /Body content -->
    
    @Scripts.Render("~/Bundles/webapp")

    @RenderSection("scripts", required: false)
                 
                

    
                <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-41233555-3', 'auto');
                ga('send', 'pageview');

                </script>
</body>
</html>
