<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <title>@ViewBag.Title</title>

    <link href="~/Content/webapp/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/Content/webapp/images/icons/iphone.jpg" rel="apple-touch-icon">
    <link href="~/Content/webapp/images/icons/ipad.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Content/webapp/images/icons/iphone4.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Content/webapp/images/icons/ipad3.jpg" rel="apple-touch-icon" sizes="144x144">

    @Styles.Render("~/Bundles/css")   
    @*@Styles.Render("~/Bundles/jqueryui")*@

    

    <!--[if lt IE 9]>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/html5shiv.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/respond.min.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/excanvas.js"></script>
    <![endif]-->
    
    <script src="~/Scripts/webapp/jquery.min.js"></script> 
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>

   
</head>
<body>

    <!-- Body content -->
    <section class="vbox" id="content">

        @Html.Partial("_Header")


        <section>
            <section class="hbox stretch">

                @Html.Partial("_Aside")

                <section>

                    <section class="hbox stretch" id="searchResults">


                        @RenderBody()
                    </section>


                </section>
            </section>
        </section>

    </section>
                <!-- /Body content -->
    
    <!-- Modal -->
    <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title purple" id="myModalLabel">We want your view</h4>
                </div>
                <div class="modal-body" id="modalBody">
                    <div id="surveyMonkeyInfo">
                        <div>

                            <script src="@ViewBag.SurveySrc"></script>

                            <!-- enjoy // How did you find your activation session modal-->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=R2SRlMeswwbZf8eSY0_2bEuA_3d_3d"> </script>*@

                            <!-- describe // ValuesCompetition - describe your brand activation session -->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=fups23Yw9gVFiGPvAMro8Q_3d_3d"> </script>*@

                            <!-- focus // ValuesCompetition - which brand value did you focus on -->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=wwFVFlxc6h6r_2faCTsCfByw_3d_3d"> </script>*@

                            <!-- role // ValuesCompetition - your role in building the AIB brand reputation -->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=CaPLVGUo3frY7trnJFTw4A_3d_3d"> </script>*@

                            <!-- energised // ValuesCompetition - How energised do you feel by the new brand strategy -->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=qB8YNl_2feMg3eYD8EDzZDtA_3d_3d"> </script>*@

                            <!-- culture // ValuesCompetition - Do you feel the culture of AIB is changing -->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=upntmzov3Gbrjzrag_2bPPwA_3d_3d"> </script>*@

                            <!-- pride // ValuesCompetition - Which of the values restore pride in AIB-->
                            @*<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=_2b5zV_2bvy9xjH6M1RJ5B4yHA_3d_3d"> </script>*@
                        </div>
                    </div>
                    <div class="modal-footer animated fadeInTop hidden" id="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <script>
                        var maxWidth = $(window).width();

                        if (maxWidth < 800) {
                            $("#sm_e_s").attr("width", "300");
                        }
                        $("#sm_e_s").attr("scrolling", "no");


                        //check iFrame load to determine whether user has completed survey
                        var page = 0;

                        var surveyName = '@ViewBag.SurveyName';

                        if (surveyName != null) {
                            $("#sm_e_s").attr("onLoad", "pageNumber('" + surveyName + "');");

                            var pageNumber = function (name) {
                                page++;

                                if (page >= 2) {

                                    $.ajax({
                                        url: location.href + "/updatepoll?pollName=" + name,
                                        type: "POST",
                                        data: [],
                                        success: function (data, textStatus, jqXHR) {
                                            //data - response from server
                                            $('#modal-footer').removeClass('hidden');
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#modal-footer').removeClass('hidden');
                                        }
                                    });
                                }
                            };
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Bundles/webapp")

    @RenderSection("scripts", required: false)
                 
                

    
                <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-41233555-3', 'auto');
                ga('send', 'pageview');

                </script>
</body>
</html>
