<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>@ViewBag.Title</title>

    <link href="~/Content/webapp/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    @Styles.Render("~/Bundles/ie6css")

    <!--[if lt IE 9]>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/html5shiv.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/respond.min.js"></script>
      <script src="https://d3kx2j4tswsg1z.cloudfront.net/ie/excanvas.js"></script>
    <![endif]-->
    
    <script src="~/Scripts/webapp/jquery.min.js"></script>

</head>
<body>
    <div id="header">
        <div class="span-2">
            <a href="~/home/" class="navbar-brand text-dark">
                <img src="~/images/aib-logo-small.png" alt="AIB Logo">
            </a>
        </div>
        <div class="span-3 top-padding"><h3>Brand Values</h3></div>
        <div class="prepend-10 top-padding last inline">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div class="span-3">
                    @Html.ActionLink("Site Admin", "Index", "SiteAdmin")
                </div>
                <div class="span-3">
                    @Html.ActionLink("Roles Admin", "Index", "RolesAdmin")
                </div>
                <div class="span-3">
                    @Html.ActionLink("Users Admin", "Index", "UsersAdmin")
                </div>
               

            }


            @Html.Partial("_LoginPartial")

        </div>
    </div>
    <div id="navigation">
        <nav class="nav-primary">
            <ul class="nav bg clearfix">
                <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                    Discover
                </li>
                <li>
                    <a href="~/home">
                        <i class="icon-like icon"></i>

                        <span>Discover</span>
                    </a>
                </li>
                <li>
                    <a href="~/home/browse">
                        <i class="icon-grid icon"></i>
                        <span>Browse</span>
                    </a>
                </li>
                <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                    Your Entry
                </li>
                <li>
                    <a href="~/home/upload">
                        <i class="icon-cloud-upload icon  "></i>
                        <span>Upload</span>
                    </a>
                </li>
                <li>
                    <a href="~/home/entry">
                        <i class="icon-pencil icon"></i>
                        <span>Edit</span>
                    </a>
                </li>

                <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                    Help
                </li>
                <li>
                    <a href="~/home/faq">
                        <i class="icon-info icon"></i>
                        <span>FAQ's</span>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
    <div id="content">
        @RenderBody()
    </div>


    @Scripts.Render("~/Bundles/ie6")

    @RenderSection("scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41233555-3', 'auto');
        ga('send', 'pageview');

    </script>

</body>

</html>
