
@model IEnumerable<BrandValues.Entries.Entry>
    <div class="m-t-xl m-b clearfix animated fadeInLeft">

        <span class="h3 font-thin purple">Welcome to the AIB Brand Values Competition</span>
    <hr />
        <div class="clear"></div>

        <div class="col-lg-6">
            It’s your chance to share how you’re already living our new brand values. The best entries will win a cool prize!

            All you need to do is demonstrate how you as an individual or as part of a team live one or all of the brand values.

            The competition is open for six weeks between 27 August and 8 October so good luck and let your creativity run wild.

        </div>

        <div class="col-lg-6 center">

            <img src="https://d3kx2j4tswsg1z.cloudfront.net/values/compass-large.png" alt="Brand Values Compass" />
        </div>





    <hr />
    <span class="h4 font-thin">Latest Competition Entries</span>
    <div class="row margin-top-20 row-sm">

        @foreach (var entry in Model)
        {

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="item">
                    <div class="pos-rlt entry-icon">
                        <a href="@Url.Action("Play", "Home", new { id = entry.Id })"><img src="@Html.DisplayFor(modelItem => entry.ThumbnailUrl)" alt="Competition Entry" class="r r-2x img-full"></a>
                    </div>
                    <div class="padder-v entry-icon-padder">
                        <span class="pull-right badge bg-white">
                            <i class="fa fa-thumbs-o-up text"></i>
                            @if (entry.Votes.Count != 0)
                            {
                                @entry.Votes.Count
                            }
                            else
                            {
                                @entry.Likes.Count
                            }
                        </span>
                        <a href="@Url.Action("Play", "Home", new { id = entry.Id })" class="text-ellipsis">@Html.DisplayFor(modelItem => entry.Name)</a>
                        <span class="text-ellipsis text-xs text-muted">
                            @if (entry.Type == "individual")
                            {
                                var space = "&nbsp;";
                                @Html.DisplayFor(modelItem => entry.UserFirstName)
                                @Html.Raw(space)
                                @Html.DisplayFor(modelItem => entry.UserSurname)
                                <br />@Html.DisplayFor(modelItem => entry.UserArea)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => entry.TeamName)
                                <br />@Html.DisplayFor(modelItem => entry.UserArea)
                            }
                        </span>
                    </div>
                </div>
            </div>
        }


    </div>

        <div class="hidden-desktop">
            <a class="btn btn-default" href="#content">Top of page</a>
        </div>

</div>



