@model BrandValues.Entries.EntryList

@{
    ViewBag.Title = "Browse";
}

        <section id="content">
            <section class="hbox stretch">
                <!-- side content -->
                <aside class="aside bg-light dk" id="sidebar">
                    <section class="vbox">
                        <section class="w-f-md scrollable hover animated fadeInUp">
                            <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                                @using (Html.BeginForm())
                                {
                                    <input class="list-group-item" value="@Model.Filters.TypeFilter" />
                                    <input type="submit" value="Search" />
                                }

                                @*<a href="#" class="list-group-item">
                                    All
                                </a>
                                <a href="#" class="list-group-item active">
                                    Test
                                </a>*@
                            </div>
                        </section>
                        <footer class="footer footer-md bg-black"></footer>
                    </section>
                </aside>
                <!-- / side content -->
                <section>
                    <section class="vbox">
                        <section class="scrollable padder-lg w-f-md">
                            <h2 class="font-thin m-b">Browse Entries</h2>
                            <div class="row row-sm">
                                @foreach (var entry in Model.Entries)
                                {
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="@Url.Action("Play", "Home", new { id = entry.Id })"><i class="fa fa-play-circle i-2x"></i></a>
                                                    </div>
                                                </div>
                                                <a href="@Url.Action("Play", "Home", new { id = entry.Id })"><img src="@Html.DisplayFor(modelItem => entry.Thumbnail)" alt="" class="r r-2x img-full"></a>
                                            </div>
                                            <div class="padder-v">
                                                <a href="@Url.Action("Play", "Home", new { id = entry.Id })" class="text-ellipsis">@Html.DisplayFor(modelItem => entry.Description)</a>
                                                <span class="text-ellipsis text-xs text-muted">@Html.DisplayFor(modelItem => entry.UserName), @Html.DisplayFor(modelItem => entry.UserArea)</span>
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                            <ul class="pagination pagination">
                                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </section>
                        
                        <footer class="footer footer-md bg-black"></footer>
                    </section>
                </section>
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>

