@model BrandValues.Entries.Entry
@{
    ViewBag.Title = "Edit";
}

<section class="vbox">
    <section class="scrollable padder animated fadeInLeft">

        <h2 class="text-success">Edit @Model.Name</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2">Entry Name</label>
                    <div class="col-md-10">
                        @Html.TextBox("Name")
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Description</label>
                    <div class="col-md-10">
                        @Model.Description
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("Edit", "Edit Description", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea name="description" id="description" class="form-control" placeholder="Your new Description" rows="3"></textarea>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <hr/>

        @Html.ActionLink("Delete Entry", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })

        <hr />

        <div>
            @Html.ActionLink("Back to Entries", "Entry", null, new { @class="btn btn-default"})
        </div>
    </section>
    
    <footer class="footer footer-md bg-white"><p id="footer-right"><i class="fa icon-wrench"></i>  Built internally by AIB's Digital Innovation</p></footer>
</section>