@model IEnumerable<BrandValues.Entries.Entry>
@{
    ViewBag.Title = "Values Competition Home";
}


<!-- side content -->
<aside id="sidebar">
    <section class="vbox">

        <section class="scrollable wrapper animated fadeInLeft">
            
            @*<div class="bg-warning wrapper-md r warning-message">
                <a href="~/home/upload">
                    <span class="h4 m-b-xs block"><i class="icon-speech i-lg"></i> The Competition is now open!</span>
                    <span class="text-muted">Click here to submit your individual or team entry before October 8th</span>
                </a>
            </div>*@

            <div class="panel-group margin-bottom-10" id="accordion">
                <div class="item pos-rlt">
                    <a href="#" class="item-overlay active wrapper-md font-xs">
                        <div class="panel-body no-left-padding left">
                            <span class="h3 font-thin">The AIB<br />Brand Values<br />Competition</span>
                        </div>
                    </a>
                    <a href="#">
                        <img class="img-full" src="~/images/box-compass.png" alt="Values Competition Logo">
                    </a>
                </div>

                <div class="panel panel-default no-top-margin no-border-radius no-border">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <div class="panel-heading menu-panel">

                            <span class="accordion-icon"><i class="fa icon-info time-icon bg-primary"></i></span>
                            <span class="timeline-date white">What is this about?</span>
                            <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                        </div>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default no-top-margin no-border-radius no-border">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <div class="panel-heading menu-panel">
                            <span class="accordion-icon"><i class="fa icon-info time-icon bg-primary"></i></span>
                            <span class="timeline-date white">How to Enter or Get involved</span>
                            <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                        </div>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default no-top-margin no-border-radius no-border">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <div class="panel-heading menu-panel">

                            <span class="accordion-icon"><i class="fa icon-calendar time-icon bg-primary"></i></span>
                            <span class="timeline-date white">Competition Calendar</span>
                            <i class="icon-arrow-right white i-lg pull-right acc-icon-padding"></i>
                        </div>
                    </a>
                </div>
            </div>


            <div class="timeline" id="infoAccordion">

                <section id="collapseThree" class="panel-collapse collapse top-padding-10" style="height: auto;">

                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-emoticon-smile time-icon bg-purple"></i></span>
                                    <span class="timeline-date">27th August</span>
                                    <div class="text-sm">Competition starts</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-lock time-icon bg-success"></i></span>
                                    <span class="timeline-date">8th October</span>
                                    <div class="text-sm">Competition closes & shortlisting begins</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-like time-icon bg-warning"></i></span>
                                    <span class="timeline-date">14th October</span>
                                    <div class="text-sm">Vote for your favourite</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-caption">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="arrow left"></span>
                                    <span class="timeline-icon"><i class="fa icon-star time-icon bg-danger"></i></span>
                                    <span class="timeline-date">27th October</span>
                                    <div class="text-sm">Winners announced</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>




            </div>


        </section>
        
        <footer class="footer hidden-xs footer-md bg-black"></footer>

    </section>
</aside>
<!-- / side content -->


<section class="aside-xl bg-light dk">
    <section class="vbox">
        <section class="relativescroll scrollable padder-lg w-f-md">
            @*<a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i class="icon-refresh i-lg  inline" id="refresh"></i></a>*@
            <h4 class="font-thin">Recent Entries</h4>
            <div class="row">

                @foreach (var entry in Model)
                {

                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
                    <div class="item">
                        <div class="pos-rlt entry-icon">
                            @*<a href="@Url.Action("Play", "Home", new { id = entry.Id })">

                                <span class="item-overlay opacity r r-2x bg-black">
                                    <span class="center text-center m-t-n">
                                        @if (entry.Format == "video")
                                            {
                                            <i class="icon-control-play i-2x"></i>
                                            }
                                            else
                                            {
                                            <i class="icon-magnifier i-2x"></i>
                                            }

                                    </span>
                                </span>
                            </a>*@
                            <a href="@Url.Action("Play", "Home", new { id = entry.Id })"><img src="@Html.DisplayFor(modelItem => entry.ThumbnailUrl)" alt="Competition Entry" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v entry-icon-padder">
                            <a href="@Url.Action("Play", "Home", new { id = entry.Id })" class="text-ellipsis">@Html.DisplayFor(modelItem => entry.Name)</a>
                            <span class="text-ellipsis text-xs text-muted">
                                @if (entry.Type == "individual")
                                    {
                                        var space = "&nbsp;";
                                    @Html.DisplayFor(modelItem => entry.UserFirstName)
                                    @Html.Raw(space)
                                    @Html.DisplayFor(modelItem => entry.UserSurname)
                                    <br />@Html.DisplayFor(modelItem => entry.UserArea)
                                    }
                                    else
                                    {
                                    @Html.DisplayFor(modelItem => entry.TeamName)
                                    <br />@Html.DisplayFor(modelItem => entry.UserArea)
                                    }
                            </span>
                        </div>
                    </div>
                </div>
                }

                @*<div class="clearfix visible-xs"></div>*@

            </div>


            <div class="row">
                    <h4 class="font-thin">We want your view</h4>
                    <div class="list-group bg-white list-group-lg no-bg auto">
                        <a href="#" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">1</span>
                            <span class="pull-left h2 text-muted padder-r">
                                <i class="icon-control-play icon"></i>
                            </span>
                            <span class="clear">
                                <span>Helping customers</span>
                                <small class="text-muted clear text-ellipsis">by Catherine Finn</small>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">2</span>
                            <span class="pull-left h2 text-muted padder-r">
                                <i class="icon-control-play icon"></i>
                            </span>
                            <span class="clear">
                                <span>Empowering staff</span>
                                <small class="text-muted clear text-ellipsis">by Dave Maxwell</small>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">3</span>
                            <span class="pull-left h2 text-muted padder-r">
                                <i class="icon-control-play icon"></i>
                            </span>
                            <span class="clear">
                                <span>Building trust and appreciation</span>
                                <small class="text-muted clear text-ellipsis">by Wendy Beesley</small>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">4</span>
                            <span class="pull-left h2 text-muted padder-r">
                                <i class="icon-book-open icon"></i>
                            </span>
                            <span class="clear">
                                <span>I keep things simple</span>
                                <small class="text-muted clear text-ellipsis">by Andy O'Sullivan</small>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">5</span>
                            <span class="pull-left h2 text-muted padder-r">
                                <i class="icon-book-open icon"></i>
                            </span>
                            <span class="clear">
                                <span>We are better together</span>
                                <small class="text-muted clear text-ellipsis">by David Duffy</small>
                            </span>
                        </a>
                    </div>
            </div>

        </section>

        <footer class="footer footer-md bg-black">
            <p id="footer-right"><i class="fa icon-wrench"></i>  Built internally by AIB's Digital Innovation</p>
        </footer>

    </section>
</section>

           


