@model BrandValues.Entries.Entry
@{
    ViewBag.Title = "Play";
}

<section>

    <section class="vbox">
        <section class="relativescroll scrollable padder-lg w-f-md">
            
            <h1>@Model.Name</h1>

            <script type="text/javascript">
                var rtmpUrl = '@Html.Raw(ViewBag.RTMPUrl)';
                var appleUrl = '@Html.Raw(ViewBag.AppleUrl)';
                var fallbackUrl = '@Html.Raw(ViewBag.FallbackUrl)';
                var thumbnailUrl = '@Html.Raw(ViewBag.Thumbnail)';
            </script>

            <div id="mediaplayer"></div>

        </section>
    </section>

</section>

@section Scripts {
    @Scripts.Render("~/Bundles/video")
}
