@model BrandValues.Entries.PostEntry
@{
    ViewBag.Title = "Upload";
}

<script>
    var uploaded = '@ViewBag.Uploaded';
</script>


                        <div class="span-12 prepend-1 ">

    <div class="m-t m-b">

        <h3>Upload your Individual or Team Competition Entry</h3>

        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { id = "wizardform", enctype = "multipart/form-data", data_parsley_validate = "" }))
        {

            @Html.AntiForgeryToken()
            <div class="panel margin-top-20 panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs font-bold">
                        <li><a href="#step1" data-toggle="tab">Step 1: Your Details</a></li>
                        <li><a href="#step2" data-toggle="tab">Step 2: Upload</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <hr />
                    <h2 class="text-success">@Html.Raw(ViewBag.Message)</h2>
                    <hr />

                    <div id="loading" class="centered">
                        <p align="text-center">
                            <img src="~/images/ajax-loader.gif" alt="" />
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        <p class="text-center" id="waiting"></p>
                        </p>
                    </div>

                    <div class="text-left" id="step1">

                        <p>
                            <label>Competition Entry Name</label>
                            <input name="name" type="text" class="title input-small" placeholder="Your entry name">
                            @*@Html.EditorFor(model => model.Name, new { @class = "form-control" })*@
                            <span class="help-block">@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger top-padding" })</span>
                        </p>



                        <p>
                            <label>
                                Description
                            </label>
                            <textarea name="description" class="title input-small" rows="6" placeholder="Type a description of your entry"></textarea>
                            @*@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })*@
                            <span class="help-block">@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger top-padding" })</span>
                        </p>


                        <p>
                            <label>
                                Type
                            </label>
                            <select name="type" id="type" class="form-control">
                                <option value="individual">Individual</option>
                                <option value="team">Team</option>
                            </select>
                            <span class="help-block">@Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger top-padding" })</span>
                        </p>

                        <p id="teamname-txt">
                            <label>Team Name</label>
                            <input name="teamname" id="teamname" type="text" class="form-control parsley-validated" placeholder="Your team name">
                            @*@Html.EditorFor(model => model.Name, new { @class = "form-control" })*@
                            <span class="help-block">@Html.ValidationMessageFor(m => m.TeamName, "", new { @class = "text-danger top-padding" })</span>
                        </p>


                        <p >
                            <label >
                                Format
                            </label>

                                <select name="format" class="form-control">
                                    <option value="text">Poem / Story / Lyric</option>
                                    <option value="video">Video</option>
                                    <option value="image">Image</option>
                                </select>
                                <span class="help-block">@Html.ValidationMessageFor(m => m.Format, "", new { @class = "text-danger top-padding" })</span>
                        </p>


                        <p>

                            <label >Which AIB Values are demonstrated?</label>


                                <select name="values" class="form-control">
                                    <option value="all">All the brand values</option>
                                    <option value="customers">We put our customers first</option>
                                    <option value="empowering">We are empowering</option>
                                    <option value="trust">We are building trust and appreciation</option>
                                    <option value="simple">We keep things simple</option>
                                    <option value="together">We are better together</option>
                                </select>

                                <span class="help-block">@Html.ValidationMessageFor(m => m.Values, "", new { @class = "text-danger top-padding" })</span>

                        </p>



                    </div>
                    <div class="tab-pane" id="step2">

                        <hr/>
                        
                        <h4>Select your file to upload</h4>
                        
                        <hr />

                        <div class="form-group">

                            <div class="centered center">
                                <input type="file" name="files" class=" filestyle" data-icon="false" data-classbutton="btn btn-default" value="" data-classinput="form-control inline v-middle input-s" id="filestyle-0" style="position: fixed; left: -500px;">
                                @*<div class="bootstrap-filestyle" style="display: inline;">
                                        <input type="text" class="form-control inline v-middle input-s" disabled="">
                                        <label for="filestyle-0" class="btn btn-default"><span>Choose file</span></label>
                                    </div>*@
                            </div>


                        </div>

                        @*<label class="col-sm-4 control-label" for="file">Your File to Upload</label>
                            <div class="col-sm-8">

                                <input type="file" id="uploadFiles" name="files" value="" multiple="multiple" />

                            </div>*@
                        
                        <hr/>

                        <div class="centered center">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" id="upload" value="Upload" />
                        </div>


                    </div>

                    <div class="tab-pane" id="step3">



                    </div>


                </div>
            </div>
        }
    </div>

</div>



                        <div class="span-5 last"></div>



@section Scripts {
    @Scripts.Render("~/Bundles/ie6upload")
}
