@model BrandValues.Entries.PostEntry
@{
    ViewBag.Title = "Upload";
}

<script>
    var uploaded = '@ViewBag.Uploaded';
</script>

<section>

    <section class="vbox">
        <section class="relativescroll scrollable padder-lg w-f-md">
            <div class="m-b-md">
                <h3 class="m-b-none">Upload your Individual or Team Competition Entry</h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { id = "wizardform", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs font-bold">
                                    <li><a href="#step1" data-toggle="tab">Step 1</a></li>
                                    <li><a href="#step2" data-toggle="tab">Step 2</a></li>
                                    <li><a href="#step3" data-toggle="tab">Step 3</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">

                                <h4>Your progress</h4>
                                <div class="progress progress-xs m-t-md">
                                    <div class="progress-bar bg-success"></div>
                                </div>
                                <div class="line line-lg"></div>
                                <p>You can upload your competition entry here by completing this form.</p>
                                <h1>@ViewBag.Message</h1>
                                <div class="line line-lg"></div>
                                <div class="tab-content">
                                    <div id="loading" class="centered">
                                        <p align="center">
                                            <img src="~/Content/webapp/images/ajax-loader.gif" alt="" />
                                        </p>
                                    </div>

                                    <div class="tab-pane" id="step1">

                                        @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 control-label" })

                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })

                                        <div class="line line-dashed b-b line-lg pull-in"></div>

                                        @Html.LabelFor(model => model.Thumbnail, new { @class = "col-sm-2 control-label" })

                                        @Html.EditorFor(model => model.Thumbnail, new { @class = "form-control" })

                                        <select data-required="true" class="form-control m-t">
                                            <option value="">Type of entry</option>
                                            <option value="poem-story">Poem / Story</option>
                                            <option value="film">Film</option>
                                            <option value="image">Image</option>
                                        </select>

                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Which AIB Values are demonstrated?</label>
                                            <div class="col-sm-8">
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" id="chkAll" value="all">
                                                        <i></i>
                                                        All the brand values
                                                    </label>
                                                </div>
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" name="values" value="customers">
                                                        <i></i>
                                                        We put our customers first
                                                    </label>
                                                </div>
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" name="values" value="empowering">
                                                        <i></i>
                                                        We are empowering
                                                    </label>
                                                </div>
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" name="values" value="trust">
                                                        <i></i>
                                                        We are building trust and appreciation
                                                    </label>
                                                </div>
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" name="values" value="simple">
                                                        <i></i>
                                                        We keep things simple
                                                    </label>
                                                </div>
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" name="values" value="together">
                                                        <i></i>
                                                        We are better together
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="file">File input</label>
                                            <div class="col-sm-10">
                                                @*<input type="file" class="filestyle" data-icon="false" data-classbutton="btn btn-default" data-classinput="form-control inline v-middle input-s">*@



                                                <input type="file" id="uploadFiles" name="files" value="" multiple="multiple" />
                                                <input type="submit" id="upload" value="Upload" />


                                            </div>
                                        </div>

                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                        <input type="checkbox" name="check" checked data-required="true"><i></i> I agree to the <a href="#" class="text-info">Terms of Service</a>
                                    </div>
                                    <div class="tab-pane" id="step2">
                                        
                                    </div>

                                    <div class="tab-pane" id="step3">
                                        

                                    </div>

                                    <ul class="pager wizard m-b-sm">
                                        <li class="previous first" style="display: none;"><a href="#">First</a></li>
                                        <li class="previous"><a href="#">Previous</a></li>
                                        <li class="next last" style="display: none;"><a href="#">Last</a></li>
                                        <li class="next"><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </section>
    </section>

</section>
