@model BrandValues.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="span-8 colborder">
    <div id="loginForm">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <p class="text-center">
                <img src="~/images/aib-logo-large-ie.png" alt="AIB Logo" />
            </p>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <p>
                <label for="email">Your AIB Email</label>
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your AIB/EBS Email", @class = "title input-small" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @type = "email", @class = "text-danger top-padding" })
            </p>
            <p>
                <button type="submit" class="btn btn-info lt b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Reset</span></button>
            </p>
        }
    </div>
    <hr/>
    <p>
        @Html.ActionLink("Remember it? Login here", "Login", null, new { @class = "link-light" })
    </p>
</div>

    <div class="span-7 last">

    <h1 class="largest-text purple">Forgot your<br />password?</h1>
    <hr />
    <h3 class="large-text dark-grey">No problem, enter your AIB or EBS email to reset it!</h3>
</div>

