@model BrandValues.Models.LoginViewModel

@{
    ViewBag.Title = "Values Competition";
}

    <div class="span-7 colborder">
        <div id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @*@Html.AntiForgeryToken()*@

                <p class="text-center">
                    <img src="~/images/aib-logo-large-ie.png" alt="AIB Logo" />
                </p>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>
                    <label for="email">AIB Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "title input-small" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @type = "email", @class = "text-danger top-padding" })
                </p>
                <p>
                    <label for="Password">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "title input-small" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @type = "password", @class = "text-danger top-padding" })
                </p>

                <p>
                    <button type="submit" class="btn btn-info lt b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span></button>
                </p>

                <p>
                    @Html.ActionLink("New to the site? Register here", "Register", null, new { @class = "btn btn-warning btn-block btn-rounded" })
                </p>

                <hr />
                <p>
                    @Html.ActionLink("Forget your password?", "ForgotPassword", null, new { @class = "link-light" })
                </p>
            }
        </div>



        <hr>
    </div>

    <div class="span-7 last">

        <h1 class="largest-text purple">Welcome to the<br />AIB Brand Values Competition</h1>
        <hr />
        <h3 class="large-text dark-grey">Show us what you can do</h3>
        <ul class="list-unstyled">
            <li><h4><i class="icon-camcorder green list-icon"></i> Budding film-maker? </h4></li>
            <li><h4><i class="icon-microphone green list-icon"></i> Secret poet?</h4></li>
            <li><h4><i class="icon-pencil green list-icon"></i> Writing genius?</h4></li>
        </ul>
        <p>This is your chance to show how you’re living our new brand values and win a cool prize!</p>
    </div>
