@model BrandValues.Models.SiteVersion

@{
    ViewBag.Title = "Edit";
}


<section class="vbox">
    <section class="scrollable padder">
        <h2>Site Options</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Current homepage: @Model.Homepage</h4>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Homepage, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Homepage, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Homepage)
                    </div>
                </div>*@
                
                <script>
                    var selected = '@Model.Homepage';
                </script>
            

                <select name="homepage" id="homepage" class="image-picker">
                    <option data-img-src="https://d3kx2j4tswsg1z.cloudfront.net/siteadmin/version1.jpg" value="Version1">  Version 1  </option>
                    <option data-img-src="https://d3kx2j4tswsg1z.cloudfront.net/siteadmin/version2.jpg" value="Version2">  Version 2  </option>
                </select>

                <hr/>

                <div class="form-group">
                        <label class="col-sm-2 control-label" for="voting">Voting Enabled</label>
                        <div class="col-md-2">
                            <select id="voting" name="voting" class="form-control">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Voting)
                        </div>
                </div>

                <script>
                    var voting = '@(Model.Voting)';
                    if (voting == "False") {
                        $('#voting').val("false");
                    } else {
                        $('#voting').val("true");
                    }
                    
                </script>


                <div>
                    <input type="submit" value="Save" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>


            </div>
        }
        


    </section>
</section>

@section Scripts {
    @Scripts.Render("~/Bundles/picker")
}